@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>邀请好友</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link href="~/Content/WeiXin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/WeiXin/css/style.css" rel="stylesheet" />
    <script src="~/Content/WeiXin/js/zepto.min.js"></script>
</head>
<body>
    <div class="container">
        <div class=" head1 clearfix">
            <a href="javascript:history.go(-1)"><img src="~/Content/WeiXin/images/left.png" /></a>
            <span class="title">邀请好友</span>
        </div>
        <div class="dh"></div>
    </div>
    <div class="container  invitecon">
        <ul class="list-unstyled ">
            <li>
                <ul class="list-inline clearfix invite-box">
                    <li class="invite">
                        <p>今日邀请</p>
                        <p class="positive"><span class="large">56</span>人</p>
                    </li>
                    <li class="invite">
                        <p>今日奖励</p>
                        <p class="positive"><span class="large">88640000</span>金币</p>

                    </li>
                </ul>

            </li>



            <li>
                <ul class="list-inline clearfix invite-box">
                    <li class="invite">
                        <p>累计邀请好友数量</p>
                        <p class="positive"><span class="large">0</span>人</p>
                    </li>
                    <li class="invite">
                        <p>累计奖励</p>
                        <p class="positive"><span class="large">0</span>金币</p>

                    </li>
                </ul>


            </li>

        </ul>


        <div class="container text-center">

            <button type="button" class="btn btn-danger btnnn">马上邀请</button>

        </div>

    </div>



    <div class="dh"></div>


    <div class="container">
        <div class="list-right ">
            <ul class="list-unstyled clearfix">
                <li class="col-xs-12 ">
                    <p class="text-left black">
                        好友奖励来源

                        <span class="green"><a>奖励明细></a></span>
                    </p>
                    <p class="reward-info clearfix">
                        
                        <span class="fr"><img src="~/Content/WeiXin/images/i-1.png" /><em class="wls">竞猜工资的5%x2</em></span>
                        
                        <span class="fl"><img src="~/Content/WeiXin/images/i-2.png" /><em class="wls">竞猜工资的2%x2</em></span>
                    </p>
                </li>

                <li class="col-xs-12 ">
                    <div class="dh"></div>
                    <p class="text-left black">
                        好友奖励来源

                        <span class="green"><a href="">奖励明细></a></span>
                    </p>
                </li>



            </ul>


        </div>


    </div>















    <div class="footmenu">
        <div class="item1">
            <span class="black">今日活动</span>
            <div class="item-pop">

                <a href="RankList">日排名赛</a>
                <a href="Superlist">周排名赛</a>
                <span></span>
            </div>
        </div>


        <div class="item1" id="footer_trend">
            <span class="black"><a href="index">益智竞猜</a></span>
        </div>
        <div class="item1">
            <span class="black">我的信息</span>
            <div class="item-pop">
                <a href="selfinfo">我的信息</a>
                <a href="exchange">兑换金币</a>
                <span></span>
            </div>
        </div>
    </div>








</body>
</html>
