@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>充值记录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link href="~/Content/WeiXin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/WeiXin/css/style.css" rel="stylesheet" />
    <script src="~/Content/WeiXin/js/zepto.min.js"></script>
</head>
<body>
    <div class="container">
        <div class=" head1 clearfix">
            <a href="javascript:history.go(-1)"><img src="~/Content/WeiXin/images/left.png" /></a>
            <span class="title">充值记录</span>
            <a href=""><img src="~/Content/WeiXin/images/freshen.png" /></a>
        </div>
        <div class="dhw"></div>
    </div>
    <div class="container" style="margin-bottom:60px;">
        <div class="table-responsive">
            <table class="table1">
                <thead>
                    <tr>
                        <th>订单号</th>
                        <th>类型</th>
                        <th>日期</th>
                        <th>状态</th>
                    </tr>
                </thead>
                <tbody style="line-height: 2.5rem;">
                    <tr>
                        <td>0666600</td>

                        <td>支付宝充值</td>
                        <td>07-29 15:31;09</td>
                        <td>已充值</td>

                    </tr>
                    <tr>
                        <td>0666600</td>

                        <td>支付宝充值</td>
                        <td>07-29 15:31;09</td>
                        <td>已充值</td>

                    </tr>
                    <tr>
                        <td>0666600</td>

                        <td>支付宝充值</td>
                        <td>07-29 15:31;09</td>
                        <td>已充值</td>

                    </tr>
                    <tr>
                        <td>0666600</td>

                        <td>支付宝充值</td>
                        <td>07-29 15:31;09</td>
                        <td>已充值</td>

                    </tr>
                    <tr>
                        <td>0666600</td>

                        <td>支付宝充值</td>
                        <td>07-29 15:31;09</td>
                        <td>已充值</td>

                    </tr>
                    <tr>
                        <td>0666600</td>

                        <td>支付宝充值</td>
                        <td>07-29 15:31;09</td>
                        <td>已充值</td>

                    </tr>
                    <tr>
                        <td>0666600</td>

                        <td>支付宝充值</td>
                        <td>07-29 15:31;09</td>
                        <td>已充值</td>

                    </tr>
                    <tr>
                        <td>0666600</td>

                        <td>支付宝充值</td>
                        <td>07-29 15:31;09</td>
                        <td>已充值</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="footmenu">
        <div class="item1">
            <span class="black">今日活动</span>
            <div class="item-pop">
                <a href="RankList">日排名赛</a>
                <a href="Superlist">周排名赛</a>
                <span></span>
            </div>
        </div>
        <div class="item1" id="footer_trend">
            <span class="black"><a href="index">益智竞猜</a></span>
        </div>
        <div class="item1">
            <span class="black">我的信息</span>
            <div class="item-pop">
                <a href="selfinfo">我的信息</a>
                <a href="exchange">兑换金币</a>
                <span></span>
            </div>
        </div>
    </div>
</body>
</html>
