<?xml version="1.0" ?>
<configuration>
  <connectionStrings>
    <!--<add name="Comm" connectionString="Data Source=192.168.0.111,1333;User ID=MlyWeb;Password=2fRxe9S2WDg#Q0Umt2^v4Nty0GtXqgqm;Initial Catalog=MY28" providerName="System.Data.SqlClient" />-->
    <!--编译到外网用这个地址<add name="Comm" connectionString="Data Source=127.0.0.1,1333;User ID=MY;Password=wHf#ZX$VI$MsCGkuTU03fHmTHSxRBqBK;Initial Catalog=MY28" providerName="System.Data.SqlClient" />-->
    <add name="Comm" connectionString="Data Source=.;User ID=sa;Password=123;Initial Catalog=MY28" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="GameId" value="1"/>
    <!--开奖时间-->
    <add key="MYloopTime" value="90" />
    <!--原本循环次数已经不用了-->
    <add key="js28" value="27"/>
    <!--提前开奖5期已经不用了-->
    <add key="OpenTopTime" value="5" />
    <!--提前多长时间开奖OpenTopTime=advanceTime/MYloopTime-->
    <add key="advanceTime" value="450" />
    <!--税收(目前是放存储过程里直接修改了)-->
    <add key="Tax" value="0.03" />
    
    <!--配置的机器人数-->
    <add key="robot" value="400" />
    <!--机器人27个号码投注金额-->
    <add key="robotJB" value="1200000,3600000,7200000,12000000,18000000,25200000,33600000,43200000,54000000,66000000,75600000,82800000,87600000,90000000,90000000,87600000,82800000,75600000,66000000,54000000,43200000,33600000,25200000,18000000,12000000,7200000,3600000,1200000" />
  </appSettings>
</configuration>
